*.o
.deps
.libs
Makefile
cjpeg
config.log
config.status
djpeg
jpegtran
libtool
rdjpgcom
wrjpgcom
configure
configure.ac~
autotools/
aclocal.m4
Makefile.in
ar-lib
autom4te.cache
compile
config.guess
config.sub
configure~
depcomp
install-sh
jconfig.*
missing
*.log
*.scan